<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=7">
        <meta name="description" content="Resources for trans people.">
        <title>{% block title %}trans.gg{% endblock %}</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'transgg/main.transgg.css' %}" type="text/css">
    </head>
    <body>
        <div class="container">
            <aside class="container-nav">
                <nav class="nav">
                    <ul class="nav-list">
                        <li class="nav-list-item">
                            <i class="fas fa-rocket"></i>
                            <a href="#">this is an item</a>
                        </li>
                    </ul>
                </nav>
            </aside>
            <main class="container-body">
                {% block body %}{% endblock body %}
            </main>
        </div>
    </body>
</html>