<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=7">
        <meta name="description" content="Resources for trans people.">
        <title>{% block title %}trans.gg{% endblock %}</title>
        {% load static %}
        <script src="https://kit.fontawesome.com/e9e35b4a31.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'main.transgg.css' %}" type="text/css">
    </head>
    <body>
        <div class="container">
            <aside class="container-nav">
                <header class="header">
                    <h1 class="header-title">trans.gg</h1>
                </header>
                <nav class="nav">
                    <ul class="nav-list">
                        <li class="nav-list-subheading">
                            Pages
                        </li>
                        <li class="nav-list-item">
                            <div class="nav-icon">
                                <i class="fas fa-tree"></i>
                            </div>
                            <a href="#">something</a>
                        </li>
                        <li class="nav-list-item">
                            <div class="nav-icon">
                                <i class="fas fa-leaf"></i>
                            </div>
                            <a href="#">something else</a>
                        </li>
                        <li class="nav-list-subheading">
                            Categories
                        </li>
                        <li class="nav-list-item">
                            <div class="nav-icon">
                                <i class="fas fa-rocket"></i>
                            </div>
                            <a href="#">this is an item</a>
                        </li>
                        <li class="nav-list-subheading">
                            Links
                        </li>
                        <li class="nav-list-item">
                            <div class="nav-icon">
                                <i class="fas fa-link"></i>
                            </div>
                            <a href="#">sample link</a>
                        </li>
                    </ul>
                </nav>
            </aside>
            <main class="container-body">
                {% block body %}{% endblock body %}
            </main>
        </div>
    </body>
</html>